<h1>Activation de votre compte sur Workshop-Manager</h1>
<P>Bonjour {{user.userName}},</p>
<P>Pour activer votre compte sur Workshop-Manager cliquez sur le lien ci-dessous</p>
<P><a href="{{absolute_url(path('app_verify', {token: token})) }}">Lien</a></p>
<P>Merci</p>