<h1>Récupération de mot de passe</h1><br><br>

<p>Bonjour {{ user.userName }}</p>
<p>Pour récupérer le mot de passe de votre compte sur Workshop-Manager, cliquez sur le lien ci-dessous.</p>
<p><a href="{{ absolute_url(path('app_verify_password', {token: token})) }}">Réinitialiser mon mot de passe</a></p>
<p>Toute l'équipe Workshop-Manager vous remercie.</p>
