<h1>Confirmation de compte !</h1><br><br>

<p>Bonjour {{ user.userName }}</p>
<p>Pour activez votre compte sur worshop-manager cliquez sur le lien ci-dessous.</p>
<p><a href="{{ absolute_url(path('app_verify', {token: token})) }}">Lien</a></p>
<p>Toute l'équipe workshop-manager vous remercie</p>
